body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.calculadora {
    background: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(255, 255, 255, 0.2);
}

#display {
    width: 95%;
    height: 50px;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border: 3px solid #666; 
    background: #444;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(255, 255, 255, 0.2); 
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}

button {
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background: #555;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    align-self: center;
    justify-self: center;
}

button:hover {
    background: #777;
}

button:nth-child(1) { 
    background: #ff4444;
}

button:nth-child(1):hover {
    background: #c21616;
}


button:nth-child(2) {
    background: #ff9900;
    grid-column: 1 /1 ;
}

button:nth-child(3) {
   grid-column: 2 / 2;
   grid-row: 1 /1;
}

button:nth-child(4) {
    grid-column: 3 / 3;
    grid-row: 1 /1;
}
 
button:nth-child(5) {
    grid-column: 4 / 4;
    grid-row: 1 /1;
}

button:nth-child(7) {
    grid-column: 2 / 2;
    grid-row: 2 /2;
}

button:nth-child(8) {
    grid-column: 3 / 3;
    grid-row: 2 /2;
}

button:nth-child(9) {
    grid-column: 4 / 4;
    grid-row: 2 /2;
}

button:nth-child(11) {
    grid-column: 2 / 2;
    grid-row: 3 /3;
}

button:nth-child(12) {
    grid-column: 3 / 3;
    grid-row: 3 /3;
}

button:nth-child(13) {
    grid-column: 4 / 4;
    grid-row: 3 /3;
}

button:nth-child(15) {
    grid-column: 3 / 3;
    grid-row: 4 /4;
}

button:nth-child(16) {
    grid-column: 4 / 4;
    grid-row: 4 /4;
}

button:nth-child(17) {
    grid-column: 2 / 2;
    grid-row: 4 /4;
}

button:nth-child(n + 3):nth-child(-n + 18):hover {
    background:#00ff55;
}

button:nth-child(18) {
    background-color: #00ff55;
    grid-column: 2 / 5;
    width: 88%;
}   